<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="https://analytics.clickdimensions.com/ts.js" > </script>

   <script type="text/javascript">
     var cdAnalytics = new clickdimensions.Analytics('analytics.clickdimensions.com');
     cdAnalytics.setAccountKey('a4dVbIOMdqUmPgBxjKLLHW');
     cdAnalytics.setDomain('danielleeman.github.io');
     cdAnalytics.setScore(typeof(cdScore) == "undefined" ? 0 : (cdScore == 0 ? null : cdScore));
     cdAnalytics.trackPage();
   </script>
  </body>

</html>
